.form {}

.create-form {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.67);
  background: rgba(87, 87, 87, 0.14);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  gap: 1rem;
  max-width: 650px;

  .create-form-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    .create-form-btns {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 25px;
    }
  }
}

.action-cards {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  width: 100%;
}

@mixin action-card($color) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 5rem;
  border-radius: 12px;
  border: 1px solid $color;
  background: rgba(87, 87, 87, 0.14);
  padding: 2rem;
  max-width: 300px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 10px 0px $color;
  }

  .action-card-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 110px;
    width: 150px;
    height: 150px;
    justify-content: center;

    .action-card-img {
      width: 100px;
    }
  }

  .action-card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    .action-card-title {
      color: $color;
    }

    .action-card-description {
      text-align: center;
      font-family: "Tachyon W00 Light";
      //   font-size: 46.5px;
      font-style: normal;
      font-weight: 400;
      // line-height: 48px; /* 103.226% */
      color: #d1d5db;
    }
  }
}

.action-card-red {
  @include action-card(#fe4056);
}

.action-card-blue {
  @include action-card(#2f5cfc);
}

.progress-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
  position: relative;

  .progress-path {
    width: calc(5rem + 45%);
    background-color: #5b5b5b;
    position: absolute;
    top: 15px;
    left: 135px;
    height: 5px;

    &.active {
      background-color: #fe4056;
    }
  }

  .progress-step {
    display: flex;
    flex-direction: column;
    align-items: center;

    .progress-step-number {
      font-family: "Tachyon W00 Regular";
      font-style: normal;
      font-weight: 400;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      background-color: #5b5b5b;
      border-radius: 30px;
      height: 34px;
      width: 34px;

      &.active {
        background-color: #fe4056;
      }
    }
  }
}

input[type="text"] {
  // border-radius: 12px;
  // border: 1px solid #2f5cfc;
  // background: rgba(87, 87, 87, 0.14);
  // &::placeholder {
  //   color: #2f5cfc;
  // }
  color: #fff;
  padding: 0.5rem;
  font-size: 14pt;
  // font-family: "Tachyon W00 Regular";
  outline: none;
  border-radius: 14px;
  border: 0.599px solid rgba(255, 255, 255, 0.10);
  background: rgba(255, 255, 255, 0.05);
}

textarea {
  display: flex;
  height: 278px;
  padding: 12px 16px;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 14px;
  border: 0.599px solid rgba(255, 255, 255, 0.10);
  background: rgba(255, 255, 255, 0.05);
  outline: none;
}