.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-right: 2px solid #1f2937;
  width: 200px;
  flex: 0 0 200px;

  .sidebar.is-collapsed {
    width: 64px;
    min-width: 64px;
  }

  .sidebar.is-collapsed .sidebar-menu,
  .sidebar.is-collapsed .sidebar-socials,
  .sidebar.is-collapsed .sidebar-profile,
  .sidebar.is-collapsed hr {
    display: none;
  }

  .icon-bar {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 0.75rem;

    // gap: 5rem;
    .logo {
      // max-width: 152px;
      margin-top: -40px;
      margin-left: -20px;
    }

    .sidebar-icon {
      min-width: 40px;
    }
  }

  .sidebar-menu {
    font-family: "Tachyon W00 Regular";
    padding: 1rem;
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      li {
        a {
          text-decoration: none;
          color: white;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          border-radius: 10px;
          transition: 0.5s ease-in-out;
          &:hover {
            background-color: #fe4056;
          }

          &.active {
            background-color: #fe4056;
          }
        }
      }
    }
  }

  .sidebar-socials {
    font-family: "Tachyon W00 Light";
    padding: 1rem;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      li {
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
    }
  }

  .sidebar-steps {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .steps-title {
      border-radius: 10px;
      background: #fe4056;
      padding: 1rem;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      list-style: none;
      li {
        color: #a1a1aa;
      }
    }
  }

  .sidebar-profile {
    font-family: "Bicyclette";
    font-size: 15pt;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-top: 2px solid #1f2937;
    padding: 1rem;
    .profile-icon {
      max-width: 40px;
      border-radius: 20px;
    }

    .logout-link {
      color: white;
    }
  }
}
